.navBar{
    background-color: #252a36;
    display: flex;
    flex-direction: row-reverse;
    min-height: 50px;
    min-width: 290px;
    padding: 5px;
}

.createNewTaskBtn{
    height: 2.5em;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 500;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    float: right;
    place-content: center;
    margin-bottom: 20;
    width: 150px;
    min-width: 10%;
}

.createNewTaskBtn:hover {
    border-color: #646cff;
}

.createNewTaskBtn:active{
    background-color: #575252
}

/* do we need this? cant find any use of it */
.popupOverlay{
    background-color: #708090;
    place-content: center;
    border: 1px solid;
    min-width: 200px;
    max-width: 500px;
    padding: 2em;
    display: grid;
    place-content: center;
}

.popupContent {
    background-color: #f0f8ff;
    border: 1px solid;
    padding: 2em;
    display: center;
    place-content: center;
    margin: 5em;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

.buttonContainer .btn {
    margin-left: 10px;
}

.largeInput {
    width: 98%;
    padding: 10px;
    height: 2em;
    margin: 0 0 1em 0;
}

.swimlaneContainer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.swimlane {
  background-color: #A9A9A9;
  width: 30%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
}

.taskListBtn{
  background-color: white;
  color: black;
  display: block;
  justify-content: flex-start;
  min-height: 60px;
  font-size: 20px;
  width: 100%;
}

.taskDetailsPopup{
  background-color: #f0f8ff;
  border: 1px solid;
  padding: 2em;
  display: center;
  place-content: center;
  margin: 5em;
}

.buttonContainer {
    margin-bottom: 5px;
    text-align: right;
}
