.main {
    margin: 10% 0 0 0;
    display: grid;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.main h1 {
    font-size: 3.5em;
    line-height: 1.1;
}

.navBar{
    background-color: #252a36;
    display: flex;
    flex-direction: row-reverse;
    min-height: 50px;
    min-width: 290px;
    padding: 5px;
}

.navBar .btn{
    margin-left: 2%;
    margin-right: 2%;
    width: 100px;
    min-width: 10%;
}


.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
    background-color: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    display: grid;
    place-content: center;
    padding: 2px;
}

.btn:hover {
    border-color: #646cff;
}

.btn:active{
    background-color: #575252
}

.createNewTaskBtn{
    height: 2.5em;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 500;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    float: right;
    place-content: center;
    margin: 0 0 0 0;
    width: 150px;
    min-width: 10%;
}

.createNewTaskBtn:hover {
    border-color: #646cff;
}

.createNewTaskBtn:active{
    background-color: #575252
}

.popupOverlay{
    background-color: #708090;
    place-content: center;
    border: 1px solid;
    min-width: 200px;
    max-width: 500px;
    padding: 2em;
    display: grid;
    place-content: center;
}

.popupContent {
    background-color: #f0f8ff;
    border: 1px solid;
    padding: 2em;
    display: center;
    place-content: center;
    margin: 5em;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

.buttonContainer .btn {
    margin-left: 10px;
}

.largeInput {
    width: 98%;
    padding: 10px;
    height: 2em;
    margin: 0 0 1em 0;
}



.employeeList{
    background-color: #c5cbcf
}

.employeeList:hover{
    background-color: #b3b5b6
}