.main {
    margin: 10% 0 0 0;
    display: grid;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.main h1 {
    font-size: 3.5em;
    line-height: 1.1;
}

.navBar{
    background-color: #252a36;
    display: flex;
    flex-direction: row-reverse;
    min-height: 50px;
    min-width: 290px;
    padding: 5px;
}

.navBar .btn{
    margin-left: 2%;
    margin-right: 2%;
    width: 100px;
    min-width: 10%;
}


.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
    background-color: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    display: grid;
    place-content: center;
    padding: 10px;
}

.btn:hover {
    border-color: #646cff;
}

.btn:active{
    background-color: #575252
}

.createNewTaskBtn{
    height: 2.5em;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 500;
    background-color: #d9ead3;
    color: black;
    border: 1px solid;
    cursor: pointer;
    transition: border-color 0.25s;
    float: right;
    margin-right: 10px;
    place-content: center;
    min-width: 10%;
    display: flex-end;
}

.createNewTaskBtn:hover {
    border-color: #6aa84f;
}

.createNewTaskBtn:active{
    background-color: #93c47d
}

.popupOverlay{
    background-color: transparent;
    place-content: center;
    border: none;
    padding: 2em;
    display: flex;
    place-content: center;
    z-index: 1000;
}

.popupContent {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 2em;
    display: center;
    place-content: center;
    max-height: 400px;
    min-width: 400px;
    overflow-y: auto;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
    margin:20px;
    padding: 20px;
}

.buttonContainer .btn {
    margin: 10px;
}

.largeInput {
    width: 98%;
    padding: 10px;
    height: 2em;
    margin: 0 0 1em 0;
}

.employeeList{
    border-radius: 3px;
    border: 1px solid black;
    height: 2em;
    font-size: 1em;
    background-color: #d9ead3;
    display: flex;
    justify-content: flex-start-center;
    padding-left: 5px;
    margin-top: 5px;
}

.employeeList:hover{
    border-color: #93c47d;
}

.employeeHeader{
    padding-bottom: 8px;
    text-align: left;
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 10px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.cancelBtn {
  background-color: #f99a93;
  color: black;
  border: transparent;
  border: 1px solid black;
  cursor: pointer;
  min-height: 15px;
  font-size: 20px;
  justify-content: center;
  border-radius: 10px;
  margin-top: 5px;

}
.submitBtn {
  background-color: #d9ead3;
  color: black;
  border: transparent;
  border: 1px solid black;
  cursor: pointer;
  min-height: 25px;
  font-size: 20px;
  justify-content: center;
  border-radius: 10px;
  margin: 5px;
}

.employeeContainer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ececec;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.employeeContainerHeader{
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  text-align: start;
  font-family: Verdana, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
}