.btn{
    height: 2em;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: 500;
    font-size: 1.1em;
    background-color: #ececec;
    color: black;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    display: grid;
    place-content: center;
    margin-top: 25px;
    float: right;
}

.btn:hover {
    border: 2px solid #acdbff;
}

.btn:active{
    background-color: #575252
}