.main{
    min-height: 100vh;
    display: grid;
    place-content: center;
    min-width: 250px;
    background-color: white;
}

.signUpDiv{
    display: grid;
    justify-content: center;
    place-content: center;
    border: 1px solid;
    border-radius: 3px;
    min-width: 250px;
    max-width: 500px;
    padding: 2em;
    background-color: #ececec;
}

.caption{
    text-align: center;
    margin: 1em 0 0 0;
    font-size: 20px;
}

.btn{
    height: 2em;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 500;
    background-color: #d9ead3;
    color: black;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    display: grid;
    place-content: center;
    margin: 2em 0 0 0;
}

.btn:hover {
    border-color: #646cff;
}

.btn:active{
    background-color: #575252
}
.input {
    color: black;
    background-color: white;
    border: 1px solid black;
}
