.header{
    background-color: #252a36;
    color: white;
    display: grid;
    place-content: center;
    min-height: 50px;
    min-width: 290px;
    padding: 5px;
}

.title{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.main{
    margin: 5%;
    display: grid;
    place-content: center;
    min-width: 250px;
}

.signUpDiv{
    display: grid;
    justify-content: center;
    place-content: center;
    border: 1px solid;
    border-radius: 3px;
    min-width: 250px;
    max-width: 500px;
    padding: 2em;
    background-color: #ececec;
}

.center{
  display: grid;
  place-items: center;
  height: 100vh;
}

.signUpDiv input{
    color: black;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    height: 2em;
    min-width: 20em;
    display: center;
}

.caption{
    text-align: center;
    margin: 1em 0 0 0;
}

.btn{
    height: 2em;
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
    background-color: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    display: grid;
    place-content: center;
    margin: 2em 0 0 0;
}

.submitBtn{
    height: 2em;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 500;
    background-color: #d9ead3;
    color: black;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    display: grid;
    place-content: center;
    margin: 2em 0 0 0;
}

.cancelBtn{
    height: 2em;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 500;
    background-color: #f99a93;
    color: black;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    display: grid;
    place-content: center;
    margin: 2em 0 0 0;
}

.buttonContainer {
    margin-bottom: 5px;
    text-align: right;
}

.btn:hover {
    border-color: #646cff;
}

.btn:active{
    background-color: #575252
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}